.game-main-container {
  height: 700px;

}

.board-img {
  display: inline-block;
  height: 310px;
}

.random-word {
  display: inline-block;
  font-size: 28px;
}

.game-content-wrapper {
  margin-bottom: 13%;
}

input.game-input {
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
  width: 45px;
  font-size: 40px;
  font-variant-caps: all-petite-caps;
  color: #fff;
  text-align: center;
  margin: 0 12px;
}

::placeholder {
  color: yellow;
  text-shadow: 1px 0px 4px #081e19;
}

input:active {
  outline: none;
  border: none;
}

input:focus {
  outline: 0;
}

.game-button {
  height: 84px;
  background: url(../../assets/img/button-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 238px 94px;
  color: maroon;
  margin: 20px;
  width: 200px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  border: none;
}

.game-button:active {
  outline: none;
  border: none;
}

.game-button:focus {
  outline: 0;
}

.game-button:hover {
  text-shadow: 1px 0px 4px yellow;
}

.word-definition {
  padding-top: 121px;
  margin-bottom: 8px;
  text-shadow: 5px 4px 7px white, 2px 2px 2px mediumaquamarine;
}

.word-description {
  max-width: 400px;
  margin: auto;
  margin-bottom: 12px;
  font-weight: 800;
}

.word-list-container {
  display: inline-flex;
  height: auto;
}

.word-list-container > ul {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  display: contents;
}

li.word-wooden {
  background: url(../../assets/img/wooden_word.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64px 64px;
  color: white;
  display: inline-flex;
  width: 64px;
  height: 64px;
  user-select: none;
}

li.word-wooden > div {
  margin: 12px auto;
  display: flex;
}

li.word-wooden > div > span {
  margin: auto;
}

.definition{
  font-weight: 900;
}

