.main-container{
  position: fixed;
  color: white;
  background-image: url('../../assets/img/score-board2.png');
  background-position: center;
  background-size:341px 368px;
  background-repeat:no-repeat;
  height:500px;
  width:363px;
  left:-300px;
  top:83px;
  transition: left 0.4s ease-in-out;
  -webkit-transition:left 0.4s ease-in-out;
  font-size:18px;
  border-radius: 0 20px 20px 0;

}
.main-container:hover {
  left: -15px;

}
.main-container:hover > table > tbody > div#panelCaller{
  opacity:0;
}

#panelCaller {
  position: absolute;
  top: 116px;
  left: 250px;
  background: #444;
  display: grid;
  width: 18%;
  margin: -30px 0px 0px 48px;
  border-radius: 0px 16px 16px 0px;
  height: 64%;
  transition: all ease 0.8s;
}


.table-container{
  display: inline-block;
  margin: 110px 71px 40px 30px;
}
th{
  padding: 11px;
}
